<div *ngIf="course" [ngClass]="cardClasses()"
     class="course-card">


    <div [ngStyle]="cardStyles()" class="course-title">
        {{  cardIndex + ". " + course.description}}
    </div>


    <img *ngIf="isImageVisible(); else noImage" [src]="course.iconUrl"
         alt="Course Logo"
         width="300">

    <ng-template #noImage>
        <p> No image is available</p>
    </ng-template>

    <div class="course-description">
        {{ course.longDescription }}
    </div>

    <button (click)="onCourseViewed()">View Course</button>
</div>
