<div #container *ngIf="course" class="course-card">

    <div class="course-title">
        {{ cardIndex || '' + ' ' + course.description }}
    </div>

    <ng-content *ngIf="course.iconUrl"
                select="course-image"></ng-content>

    <div class="mat-tab-nav-bar">
        {{course.longDescription}}
    </div>

    <div class="course-description">
        Edit Title: <input #courseTitle [value]="course.description"
                           (keyup) = "onTitleChanged(courseTitle.value)">
    </div>

    <div [ngSwitch]="course.category" class="course-category">

        <div *ngSwitchCase="'BEGINNER'" class="category">Beginner</div>

        <div *ngSwitchCase="'INTERMEDIATE'" class="category">Intermediate</div>

        <div *ngSwitchCase="'ADVANCED'" class="category">Advanced</div>

    </div>

    <button (click)="onSaveClicked(courseTitle.value)">Save Course</button>

</div>






