<div #container *ngIf="course" class="course-card">

    <div class="course-title">
        {{  course.id + ". " + course.description}}
    </div>

    <ng-content *ngIf="course.iconUrl"
                ;blankImage else select="course-image"></ng-content>

    <ng-content select=".course-description"></ng-content>

    <div [ngSwitch]="course.category" class="course-category">
        <div *ngSwitchCase="'BEGINNER'" class="category">Beginner</div>
        <div *ngSwitchCase="'INTERMEDIATE'" class="category">Intermediate</div>
        <div *ngSwitchCase="'ADVANCED'" class="category">Advanced</div>
        <div *ngSwitchDefault class="category">All levels</div>
    </div>

    <button (click)="onCourseViewed()">View Course</button>
</div>


