<div class="top-menu">
    <img class="logo"
         src="https://angular-academy.s3.amazonaws.com/main-logo/main-page-logo-small-hat.png" alt="Logo">
</div>

<div>

    <div class="demo">
        <button (click)="onEditCourse()" i18n>Edit Course</button>
        <div class="mat-step-label" i18n>{coursesTotal, plural, =0 {No courses available.}
                =1 {Only 1 course available.}
                other {A total of {{coursesTotal}} courses are available.} }
        </div>
    </div>

    <div class="courses">

        <h4 class="mat-h4" i18n="Welcome|Greet the User@@welcomeMsg1">Welcome to the Angular Code Deep Dive course</h4>

        <course-card *ngFor="let course of courses |  filterByCategory:  'BEGINNER' "
                     (courseChanged)="save($event)"
                     type="beginner"
                     [course]="course">

            <course-image [src]="course.iconUrl"></course-image>

        </course-card>

    </div>


</div>




