<div class="top-menu">

    <img class="logo"
         src="https://angular-academy.s3.amazonaws.com/main-logo/main-page-logo-small-hat.png">

</div>

<div class="courses">

    <course-card (courseSelected)="onCourseSelected($event)"
                 *ngFor="let course of courses; index as i; first as isFirst; last as isLast"
                 [cardIndex]="i + 1"
                 [class.is-first]="isFirst"
                 [class.is-last]="isLast" [course]="course">

    </course-card>

</div>


